html {
  height: -webkit-fill-available;
  font-size: 62.5%;
}
body {
  font-size: 1.3rem;
  font-family: var(--font-primary);
  overflow-x: hidden;
  background-color: var(--light-grayish-blue);
}
a {
  text-decoration: none;
}
