.Testimonial {
  &Card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem 3rem;

    &-0 {
      .User {
        &Avatar {
          border: 1.4px solid var(--light-violet);
        }

        &Message {
          color: var(--light-violet);
        }
      }
    }

    &-1 {
      .User {
        &Avatar {
        }

        &Message {
          color: var(--light-gray);
        }
      }
    }

    &-2,
    &-3 {
      .User {
        &Avatar {
          border: 1.4px solid var(--white);
        }

        &Name {
          color: var(--very-dark-grayish-blue);
        }

        &Message {
          color: hsl(240, 1%, 68%);
        }
      }

      .Testimonial {
        &Title {
          color: var(--very-dark-grayish-blue);
        }

        &Text {
          color: hsl(220, 1%, 51%);
        }
      }
    }

    &-4 {
      .UserAvatar {
        border: 1.4px solid var(--light-violet);
      }
      .UserMessage,
      .TestimonialText {
        color: var(--light-gray-medium);
      }
    }
  }
}

.User {
  display: flex;
  column-gap: 15px;

  &Avatar {
    width: 31px;
    height: 31px;
    border-radius: 40px;
    border: 1.4px solid var(--very-dark-grayish-blue);
  }

  &Info {
    line-height: 1.6rem;
  }

  &Message {
    font-size: 1.2rem;
  }

  &Name {
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: -0.364px;
  }
}

.Testimonial {
  &Title {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    position: relative;
    z-index: 2;
  }

  &Text {
    color: var(--light-gray);
    line-height: 1.8rem;
    letter-spacing: 0.039px;
  }
}
